# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\user\Desktop\FEUP\2_Ano\1_Semestre\AEDA\ESTUDAR_TESTE_1\Teste_1_2019_2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
